@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#result {
  display: flex;
  flex-direction: column-reverse;
  height: -moz-max-content;
  height: max-content;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.asideLeft {
  width: 100%;
  max-width: 378px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5f5f5;
}

.myCard {
  width: 338px;
  height: 760px;
  display: flex;
  flex-direction: column;
}
.myCard__name {
  font-family: "Jua";
  font-size: 28px;
  font-weight: bold;
}
.myCard__user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.myCard__userPhoto {
  width: 100px;
  height: 115px;
}
.myCard__userName {
  font-family: "Jua";
  font-size: 18px;
  font-weight: bold;
}
.myCard__userEmail {
  font-family: "Inter";
  font-size: 14px;
  font-weight: normal;
  color: #696969;
  text-decoration: none;
}
.myCard__userBday {
  margin-top: 80px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.myCard__userBday__img {
  width: 15px;
  height: 15px;
  filter: invert(42%) sepia(0%) saturate(307%) hue-rotate(150deg) brightness(93%) contrast(79%);
}
.myCard__userBday__date {
  font-family: "Inter";
  font-size: 14px;
  font-weight: normal;
  color: #696969;
}
.myCard__userTel {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.myCard__userTel__img {
  width: 15px;
  height: 15px;
  filter: invert(42%) sepia(0%) saturate(307%) hue-rotate(150deg) brightness(93%) contrast(79%);
}
.myCard__userTel__num a {
  font-family: "Inter";
  font-size: 14px;
  font-weight: normal;
  color: #696969;
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 138px;
  border: 2px solid #f5f5f5;
  border-left: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  gap: 17px;
  width: 766px;
  height: 138px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form__input {
  width: 527px;
  height: 40px;
  padding-left: 97px;
  border: none;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  outline: none;
}
.form__input:focus {
  outline: 2px rgba(68, 222, 111, 0.94) solid;
}
.form__searchButton {
  width: 91.17px;
  height: 34.29px;
  left: 22px;
  position: absolute;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  border: none;
  cursor: pointer;
  font-family: "Jua";
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 117, 33);
}
.form__gender {
  padding-left: 15px;
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  font-family: "Jua";
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 117, 33);
  cursor: pointer;
}
.form__sort {
  padding-left: 15px;
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  font-family: "Jua";
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 117, 33);
  cursor: pointer;
}
.form__openModalWin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: rgb(69, 222, 112);
  color: rgb(0, 117, 33);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.form__openModalWin__img {
  width: 18.33px;
  height: 18.33px;
}

.center {
  width: 100%;
}

main {
  display: flex;
}

.contact {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  list-style-type: none;
  width: 715px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 23px;
  margin-top: 10px;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}
.contact__wrapper2 {
  gap: 15px;
  display: flex;
  align-items: center;
  width: 60%;
}
.contact__wrapper {
  gap: 40px;
  display: flex;
  align-items: center;
  width: 50%;
}
.contact__img {
  width: 72px;
  height: 79px;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.contact__info__name {
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.contact__info__status {
  color: rgb(99, 99, 99);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 600;
}
.contact__number {
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.contact__email {
  color: rgb(105, 105, 105);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.asideRight {
  margin-top: 10px;
  width: 100%;
  height: 844px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.asideRight__link {
  width: 330px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.asideRight__user {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.asideRight__user__photo {
  width: 100px;
  height: 115px;
}
.asideRight__user__name {
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
}
.asideRight__editBtn {
  margin-top: 50px;
  width: 330px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background: rgb(69, 222, 112);
  color: rgb(0, 117, 33);
  font-family: "Jua";
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.asideRight__tel {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: rgba(137, 242, 166, 0.66);
}
.asideRight__tel__img {
  width: 21px;
  height: 17px;
  filter: invert(64%) sepia(94%) saturate(2882%) hue-rotate(94deg) brightness(93%) contrast(107%);
}
.asideRight__email {
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: rgba(242, 225, 137, 0.66);
}
.asideRight__email__img {
  width: 27px;
  height: 24px;
  filter: invert(80%) sepia(21%) saturate(3034%) hue-rotate(338deg) brightness(102%) contrast(103%);
}
.asideRight__date {
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.asideRight__date__text {
  color: rgb(124, 124, 124);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
}
.asideRight__date__numbers {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Стили для модального окна */
.modalWindow {
  margin: auto;
  max-width: 100%;
  width: 678px;
  height: 566px;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content h2 {
  color: rgb(0, 0, 0);
  font-family: Jua;
  font-size: 24px;
  font-weight: 400;
}
.modal-content__addPhoto {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.modal-content__addPhoto__img {
  width: 70px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #c4c4c4;
}
.modal-content__addPhoto__btn {
  cursor: pointer;
  color: rgb(0, 117, 33);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: rgb(69, 222, 112);
  width: 430px;
  height: 30px;
}
.modal-content__addPhoto__btn__img {
  margin-left: 20px;
  margin-right: 30px;
  width: 16px;
  height: 16px;
}
.modal-content__about {
  margin-top: 20px;
  position: relative;
  width: 596px;
  height: 32px;
}
.modal-content__about__input {
  padding-left: 108px;
  width: 596px;
  height: 32px;
  border: none;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  outline: none;
}
.modal-content__about__input:focus {
  outline: 2px rgba(68, 222, 111, 0.94) solid;
}
.modal-content__about__label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  width: 103px;
  height: 28px;
  left: 2px;
  top: 2px;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  color: rgb(0, 117, 33);
  font-family: Jua;
  font-size: 15px;
  font-weight: 400;
}
.modal-content__name {
  margin-top: 20px;
  position: relative;
  width: 596px;
  height: 32px;
}
.modal-content__name__input {
  padding-left: 108px;
  width: 596px;
  height: 32px;
  border: none;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  outline: none;
}
.modal-content__name__input:focus {
  outline: 2px rgba(68, 222, 111, 0.94) solid;
}
.modal-content__name__label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  width: 103px;
  height: 28px;
  left: 2px;
  top: 2px;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  color: rgb(0, 117, 33);
  font-family: Jua;
  font-size: 15px;
  font-weight: 400;
}
.modal-content__surname {
  margin-top: 20px;
  position: relative;
  width: 596px;
  height: 32px;
}
.modal-content__surname__input {
  padding-left: 108px;
  width: 596px;
  height: 32px;
  border: none;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  outline: none;
}
.modal-content__surname__input:focus {
  outline: 2px rgba(68, 222, 111, 0.94) solid;
}
.modal-content__surname__label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  width: 103px;
  height: 28px;
  left: 2px;
  top: 2px;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  color: rgb(0, 117, 33);
  font-family: Jua;
  font-size: 15px;
  font-weight: 400;
}
.modal-content__phone {
  margin-top: 20px;
  position: relative;
  width: 596px;
  height: 32px;
}
.modal-content__phone__input {
  padding-left: 108px;
  width: 596px;
  height: 32px;
  border: none;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  outline: none;
}
.modal-content__phone__input:focus {
  outline: 2px rgba(68, 222, 111, 0.94) solid;
}
.modal-content__phone__label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  width: 103px;
  height: 28px;
  left: 2px;
  top: 2px;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  color: rgb(0, 117, 33);
  font-family: "Jua";
  font-size: 15px;
  font-weight: 400;
}
.modal-content__email {
  margin-top: 20px;
  position: relative;
  width: 596px;
  height: 32px;
}
.modal-content__email__input {
  padding-left: 108px;
  width: 596px;
  height: 32px;
  border: none;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  outline: none;
}
.modal-content__email__input:focus {
  outline: 2px rgba(68, 222, 111, 0.94) solid;
}
.modal-content__email__label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  width: 103px;
  height: 28px;
  left: 2px;
  top: 2px;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  color: rgb(0, 117, 33);
  font-family: Jua;
  font-size: 15px;
  font-weight: 400;
}
.modal-content__bottom {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.modal-content__bottom__gender {
  padding-left: 15px;
  width: 103px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: rgba(68, 222, 111, 0.94);
  font-family: "Jua";
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 117, 33);
  cursor: pointer;
}
.modal-content__bottom__img {
  width: 70px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #c4c4c4;
}
.modal-content__bottom__btn {
  cursor: pointer;
  color: rgb(0, 117, 33);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: rgb(69, 222, 112);
  width: 430px;
  height: 30px;
}
.modal-content__bottom__btn__img {
  margin-left: 20px;
  margin-right: 30px;
  width: 16px;
  height: 16px;
}/*# sourceMappingURL=style.css.map */